body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: url(http://www.fillmurray.com/460/300); */
  background-color: #82CFD0;
  background-repeat:no-repeat;
  background-size:cover;
}

.gaugebox {
  background-color: #82CFD0;
  margin: 0 15%;
}

.circle-svg {
  background: radial-gradient(#fff 95px,transparent 98px);
  margin-top: -112px;
}

.qna-container {
  width: 70%;
  margin: auto;
  background-color: white;
  margin: 10% auto;
}

.quiz-header {
  color: #AA2D29;
  font-size: 6em;
  height: 120px;
}

.ui.inverted.header .sub.header {
  font-size: 3em !important;
  color: #AA2D29 !important;
  animation-delay: 4s;
  animation: fadeIn 4s;
  padding: 11%;
}

.boxy {
}

.boxy.green {
  color: white !important;
  background-color: #AA2D29 !important;
  font-family: times;
}

.boxy.green span {
  background-color: #AA2D29 !important;
}

.dimmer {
  animation: fadeIn 1.5s;
}

.ui.dimmer {
  background-color: white !important;
}

@@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.tests {
  display: none;
  /* width: 500px;
  height: 500px;
  margin: auto; */
  /* background-color: rgba(0,0,0,.8); */
  /* display: inline-block;
    position: relative; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tests > p {
  font-family: helvetica;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quiz-container{
  width: 70%;
  color: white;
  font-size: 130%;
  margin: auto;
}

h1 {
  text-align: center;
  color: #AA2D29;
  margin-bottom: 10px;
}

.box {
  padding: 10px 15px;
}

.quiz-container h1 {
  text-align: center;
  color: #82CFD0;
  margin-bottom: 10px;
}
.quiz-container .box {
  padding: 10px 15px;
}
.quiz-container .question {
  background-color: #82CFD0;
  margin-bottom: 25px;
  font-size: 115%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
.quiz-container .question:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 35px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #82CFD0;
}
.quiz-container .question span {
  background-color: #82CFD0;
  color: white;
  display: block;
  float: left;
  margin-left: -15px;
  margin-top: -10px;
  margin-right: 0px;
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 40px;
}
.quiz-container .answers {
  padding-left: 0;
  list-style-type: none;
}
.quiz-container .answers .answer {
  background-color: #fff;
  color: #82CFD0;
  margin-top: 76px;
  margin-bottom: 76px;
  position: relative;
}
.quiz-container .answers .answer:hover, .quiz-container .answers .answer.active {
  cursor: pointer;
  color: #AA2D29;
}
.quiz-container .answers .answer:hover span:not([class^=checkmark]), .quiz-container .answers .answer.active span:not([class^=checkmark]) {
  background-color: #AA2D29;
}
.quiz-container .answers .answer.active span.checkmark {
  background-color: #fff;
  position: absolute;
  top: 8px;
  right: 20px;
  font-size: 120%;
}
.quiz-container .answers .answer span:not([class^=checkmark]) {
  background-color: #82CFD0;
  color: white;
  display: block;
  float: left;
  margin-left: -15px;
  margin-top: -10px;
  margin-right: 20px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  width: 40px;
}

/* .quiz-container .answers .answer span:not([class^=checkmark]) {
    background-color: #82CFD0;
    color: white;
    display: block;
    float: left;
    margin-left: -15px;
    margin-top: 0px;
    margin-bottom: -21px;
    margin-right: 1359px;
    padding: 76px 0;
    text-align: center;
    text-transform: uppercase;
    width: 40px;
    height: 170px;
} */

.quiz-container button {
  background-color: #82CFD0;
  color: #fff;
  font-size: 110%;
  border: 0;
  width: 100%;
  position: relative;
}
.quiz-container button:hover {
  background-color: #AA2D29;
  cursor: pointer;
}
.quiz-container button span {
  font-size: 200%;
  position: absolute;
  top: -3px;
  right: 10px;
}

@media (max-width: 450px) {
  .quiz-container {
    width: calc(100% - 30px);
  }
}

.ui.inverted.header {
    color: #AA2D29;
    font-weight: bold;
}

.ui.button {
  background: #82CFD0 !important;
  color: white !important;
}
